@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  scrollbar-width: none;
}
body{
  display: flex;
  justify-content: first baseline;
  padding: 5px 5px 5px 5px;
  background-image: url(homeImage.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.outer-temp{

display: flex;
justify-content: center;
align-items: center;
background-color: aliceblue;
height: 500px;
width: 350px;
margin-left: 120px;
margin-top: 60px;
padding: 2px 2px 2px 2px;
border-radius: 10px;
}
.inner-temp{
display: flex;
justify-content: center;
margin-bottom: 50px;

}
.log-in-details,.login-in-form{

  position: relative;
  margin-left: 25px;
  margin-top: 30px;
}
.submit-button-1 {
  background-color:rgb(127, 78, 226); 
  border: none;
  color: white;
  padding: 10px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.submit-button-2 {
  background-color:rgb(127, 78, 226); 
  border: none;
  color: white;
  padding: 10px 113px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.submit-button-1 a,.submit-button-2 a{
  text-decoration: none;
  color: aliceblue;
}
.submit-button-1:hover,.submit-button-2:hover {
  background-color:rgb(57, 38, 114);
  color: rgb(154, 119, 223);
}
log-in-details h1 {
  font-weight: 200px;
}
.msg2{
  font-weight: 400;
}
.inputs-text{
  font-weight: 50px;
  font-size: 17px;
}
.input-field{
  border: none;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.input-field:hover{
  background-color: rgba(254, 254, 254, 0.852);
}