@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  scrollbar-width: none;
}
::selection{
  color: #000000;
  background: #fff;
}
nav{
  position: absolute;
  background: none;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  color: aliceblue;  
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: rgb(127, 78, 226);
}
.img{
  background: url('picture/homeImage.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  background: white;
  
}
.center .btns .btns-1{
  background: none;
}

.center .btns button:last-child{
  background: white;
  color: rgb(127, 78, 226);
  
} 
.btns button:last-child:hover{
  background-color: rgb(127, 78, 226);
  color: #fff;
  border: none;
  opacity: 1;
}
.social
{
  position: relative;
  z-index: 10;
  bottom: 20px;
  display: flex;
  align-items: center;
}

.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  color: black;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
table {
  width: 80px;
}
footer img{
  position: absolute;
}
footer .msg-1{
 position: absolute;
 padding-top: 130px;
 padding-left: 40px;
}
footer .msg-1 h1{
  font-size: 60px;
  font-weight: 1000;
  color: #fff;
}
footer .msg-2{
  position: relative;
  /* justify-content: space-between 5px; */
  padding-top: 350px;
  padding-left: 70px;
  margin-right: 40px;
 }
 svg{
  padding-left: 10px;
 }
 
 footer .msg-2 p{
  color: #fff;
 } 
 /* register.css */

  